.name-text{
  -webkit-text-stroke:rgb(255, 157, 0) 2px;
  background:linear-gradient(red,rgb(141, 4, 4),red);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 40px;
  font-family: "Goblin One";
  filter: drop-shadow(0 0px 20px rgb(255, 157, 0));
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0);
    color: #fff;
    padding: 0.6rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}



.nav-brand {
    display: flex;
    align-items: flex-start;
    color: #4b52d4;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: auto;
    margin-left: 2rem;

}

.nav-brand-img {
    display: flex;
    height: 50px;
    width: 100px;
}

.user{
    margin-left: auto;
    border-color: azure;
    border-style: solid;
    padding: 5px 5px;

}
.user-icon{
    margin-bottom: 0px ;
    cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-header {
  text-align: center;
  margin-bottom: 10px;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-links a, .dropdown-links button {
  margin: 5px 0;
  text-decoration: none;
  color: black;
  background: transparent;
  border: none;
  cursor: pointer;
}

.login-button {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

/* Dropdown Modal */
.dropdown-modal {
  position: absolute;
  top: 80px;
  left: 0;
  background: #333;
  color: white;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown-content a:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Search Overlay and Input */
.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 999;
}

.search-input-container {
  position: fixed;
  top: 80px;
  left: 65%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  z-index: 1000;
}

.search-form {
  display: flex;
  width: 100%;
  background: white;
  border-radius: 5px;
  overflow: hidden;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.search-button {
  background: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-brand {
    margin-right: auto;
  }

  .user {
    margin-left: 30px;
  }
}


