:root {
  max-width: 1280px;
 margin-top: 100px;
  margin: 0 auto;
  padding: 2rem;

  background: linear-gradient(rgb(36, 12, 61), rgb(16, 4, 30),rgb(13, 3, 24) );
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*.page {
  max-width: 1280px;
  flex-direction: column;
   margin-top: 200px;
  margin: 0 auto;
  padding: 4rem;

  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
} */



.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.main-content {
  padding-top: 80px;
   justify-content: center;
  align-items: center;
}

.loader {
  width: 70px;
  height: 40px;
  outline: 2px solid #fff;
  background:
    radial-gradient(farthest-side,red 90%,#0000) 0 0/8px 8px no-repeat,
    radial-gradient(farthest-side,#000 90%,#0000) 0 0/8px 8px no-repeat,
    linear-gradient(#fff 0 0) 50%/10px 100% no-repeat,
    conic-gradient(from  90deg at 10px 10px,#0000 90deg,#fff 0),
    conic-gradient(from -90deg at 60px 30px,#0000 90deg,#fff 0);
  animation: l9 2s infinite;
}
@keyframes l9 {
  0%    {background-position:50%  100%,0    0   ,50%}
  12.5% {background-position:0    100%,50%  0   ,50%}
  25%   {background-position:0    0   ,50%  100%,50%}
  37.5% {background-position:50%  0   ,100% 100%,50%}
  50%   {background-position:50%  100%,100% 0   ,50%}
  62.5% {background-position:100% 100%,50%  0   ,50%}
  75%   {background-position:100% 0   ,50%  100%,50%}
  82.5% {background-position:50%  0   ,0    100%,50%}
  100%  {background-position:50%  100%,0    0   ,50%}
}

.genre-selector {
  height: 70px;
  width: 1190px;
  border-radius: 16px;
  background-color: hsl(240, 3%, 19%);
  text-align: center;
  display: flex;
  align-items: center;
  position: relative; /* Make the selector relative to position the options dropdown */
}

/* Main genre list styling */
.genre-selector ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-left: 20px;
}

.genre-selector ul li {
  background-color: rgba(0, 255, 255, 0);
  border-radius: 16px;
  padding: 10px;
}

.genre-selector ul li:hover {
  background-color: hsl(240, 1%, 34%);
  cursor: pointer;
}

/* Extra options styling */
.options {
  position: absolute; /* Position the options dropdown absolutely within the genre selector */
  top: 100%; /* Position it below the genre selector */
  left: 58%;
  background-color: hsl(240, 1%, 34%);
  border-radius: 16px;
  z-index: 1000;
  padding: 10px 0; /* Adjust padding to ensure it does not affect the genre selector */
  width: 18%;
  text-align: left;
  padding-left: 20px;
}

.options ul {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  margin: 0; 
  list-style: none; 
  width: 90%;
}

.options ul li {
  background-color: rgba(0, 255, 255, 0);
  border-radius: 16px;
  padding:10px;
}

.options ul li:hover {
  background-color: rgb(41, 41, 45);
  cursor: pointer;
}

/* Custom styles to position dots on slider image */

.slider-container {
  width: 100vw;
  overflow: hidden;
  display: block;
  height: 90vh;
  
}
.slick-slider {
  width: 100vw;
  overflow: hidden;
}
.slick-track{
  width: 100vw;
  object-fit:cover ;
}


.slider-image {
  width: 100vw; /* 100% of the viewport width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
}
.slick-dots {
  position: absolute;
  bottom: 0px; /* Adjust this value as needed */
  left: 0;
  right: 0;
  top:510px;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}



.slick-dots li button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.slick-dots li.slick-active button {
  opacity: 0.75;
}

.custom-slick-dots .slick-dots li button::before {
  font-size: 10px; /* Adjust size of default dots if needed */
  color: white;    /* Adjust the color of the dots */
}

.custom-slick-dots .slick-dots li {
  margin: 0 5px;
  width: 220px; /* Ensure the list item width matches the image width */
  height: 20px;
}

/* Ensure the img width and height are set correctly */
.custom-slick-dots .slick-dots li img {
  width: 100%;  /* Set the width to 100% of the li element */
  height: 100%; /* Set the height to 100% of the li element */
  object-fit: cover;
  border-radius: 5px;
}

.slick-dots li.slick-active img {
  border: 2px solid #fff;
}

.active-dot {
  border: 2px solid #ffcc00; /* Highlight active dot with a border or any other styling */
}

/* details page*/

.main-overview{
  margin: 20px;
  display: flex;
  flex-direction: row;
}
.backdrop-image{
  position: absolute;
  top: 0;
  left: 0;
  width:100vw;
  height: 100vh;
  z-index: -2;
  overflow: hidden;
  justify-content: flex-start;
  display: flex;
}

.backdrop-image-overshadow{
  position: absolute;
  top: 0;
  left: 0;
  width:100vw;
  height: 100vh;
  z-index: -1;
  background-image: linear-gradient(to right, rgba(220.5, 241.5, 241.5, 1) calc((50vw - 170px) - 340px), rgba(220.5, 241.5, 241.5, 0.84) 50%, rgba(220.5, 241.5, 241.5, 0.54) 100%);
  overflow: hidden;

}
.backdrop-image-overshadow-black{
  position: absolute;
  top: 0;
  width:100vw;
  height: 100vh;
  z-index: 0;
  background-image: radial-gradient(rgba(255, 0, 0,0) 1%, rgba(0, 128, 0,0) 1%, black 95%);

}



.media-overview{
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.media-mini-details {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.media-mini-details ul{
  display: flex;
  flex-direction: row;
  gap: 40px;
  
}
.media-mini-details ul li{
  list-style:disc;  
}
.media-mini-details ul li::marker {
  color: rgb(34, 8, 96);
}



.rating{
  margin-bottom: 25px;
}


/* ------------- */

.CircularProgressbar-path {
  stroke: red;
}
.CircularProgressbar-trail {
  stroke: gray;
}
.CircularProgressbar-text {
  fill: yellow;
}
.CircularProgressbar-background {
  fill: green;
}

/*  modal for Actor overview */
.overview {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Read More button styling */
.read-more-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: rgb(36, 35, 35);
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  width: 100%;
  text-align: start;
  position: relative;
}

.close-modal {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.close-modal:hover{
  background-color: #711821;
}

